* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1F1F1;
}

html{
    font-size: 14px;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 3%;
}

.firstnav, .secondnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstnav i {
    padding-right: 5%;
}

.firstnav img{
    padding-left: 5%;
}

.secondnav i {
    padding-right: 80%;
}

.fa-bars {
    color: #B4B4B4;
}

header img{
    width: 107px;
}

main{
    margin-bottom: 200px;
}

.search {
    display: flex;
    border: 1px solid grey;
    width: 70%;
}

.search input {
    border: none;
    width: 93%;
    height: 35px;
}

.search input[placeholder="Search"]{
    font-size: 18px;
}

.search button {
    width: 7%;
    border: none;
    height: 35px;
}

.fa-upload {
   color: #808080;
   cursor: pointer;
}

.sign-in {
    height: 35px;
    padding: 0 12px;
    background-color:#167AC6;
    border: none;
    color: white;
    border-radius: 4px;
}

.msg {
    background-color: #167AC6;
    color: white;
    margin-top: 12px;
    padding: 12px;
}

.msg i{
    padding-right: 12px;
}

.msg .fa-times {
    float: right;
}

.lang-pref {
    padding: 12px;
    background-color: #fff;
    border: 2px solid  #167AC6;
}

.learn{
    float: right;
    font-size: 0.8rem;
}


.vidcontent{
    display: flex;
    margin-top: 20px;
}

.vidcontent .vid-des {
    display: flex;
    flex-direction: column;
    margin-right: 0.5%;
    width: 70%;
}

.vidcontent .more-vid{
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
    width: 30%;
}

.video-summary{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    margin-top: 25px;
}

.vs1{
    display: flex;
    justify-content: space-between;
}

.vs1 .v{
    display: flex;
}

.vs2{
    display: flex;
    flex-direction: column;
}

.vs1 .avatar{
    font-size: 3em;
    text-align: center;
    background-color: #689F39;
    color: white;
    font-weight: bold;
    padding: 2px 20px;
    margin-right: 15px;
}

.vs2 .title{
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 1rem;
    padding-bottom: 10px;
}

.subscribe{
    display: flex;
    border: 1px solid #CCCCCC;
    color: white;
    font-size: 16px;
    
}

.subscribe button{
    padding: 3px 10px;
    border: none;
    background-color: transparent;
    height: 100%;
    border-right: 1px solid #CCCCCC;
    color: white;
    background-color: #FF0000;
}

.subscribe .fa {
    padding-top: 3px;
}

.subscribe .num{
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    color: #959595;
}

.views {
    font-size: 20px;
    color: #818282;
    /* float: right; */
}

.share{
    padding: 7px;
    color: #7F7F7F;
}

.sh i{
    padding-right: 1%;
}

.sh {
    padding-right: 2%;
    cursor: pointer;
    font-size: 12px;
}

.like, .dislike {
    float: right;
    padding-left: 2%;
    cursor: pointer;
    text-decoration: none;
    color:  #7F7F7F;
    padding-top: 2px;
}


.publish{
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
}

.load{
    margin-top: 20px;
    background-color: #fff;
    padding: 80px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 54.181%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
} 


.more-vid{
    background-color: #fff;
}

.more-vid hr{
    margin: 10px;
}

.vid{
    width: 60%;
}

.vid a img{
    width: 100%;
}

.vid-info{
    width: 40%;
}

.suggest-vid{
    display: flex;
    height: 50%;
}

.suggest-vid div{
    margin: 10px;
}

.more{
    margin: 10px;
}

.more-vid .more .upnext{
    text-decoration: none;
    font-weight: bolder;
    color: #222222;
} 

.vid-info .title{
    font-size: 1rem;
    color: #353535;
}

.vid-info .channel, .vid-info .views{
    color: #808080;
    font-size: 0.8em;
    margin-bottom: 0;
}

.show{
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    padding: 40px 35px 50px 45px;
    margin-bottom: 200px;
    border-top: 1px solid #E2E2E2;
}

.settings{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    margin-right: 4%;
}

.about a:hover{
    text-decoration: underline;
}


.settings img {
    width: 107px;
    padding-right: 20px;
}

.settings div {
    display: flex;
    border: 1px solid #E2E2E2;
    margin-right: 2%;
    background-color: #F8F8F8;
    padding: 10px 25px;
    cursor: pointer;
}

.settings div label {
    margin: 0;
}

.settings select{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 5px;
}

.settings div button {
    border: none;
    background-color: transparent;
}

.settings div .fa-user{
    padding-right: 10px;
    padding-top: 5px;
}

.terms{
    margin-top: 10px;
}

.terms a {
   color: #6F6F6F;
   font-size: 12px;
   text-decoration: none;
   margin-right: 4%;
   font-weight: bold;
}

.terms a:hover{
    text-decoration: underline;
}

